﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebHRA - v @typeof(NedTrainHourRegistration.MvcApplication).Assembly.GetName().Version.ToString(3)</title>
    @using System.Web.Optimization
    @Styles.Render("~/bundles/master/css")
    @Scripts.Render("~/bundles/master/init/js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand-erpplus" href="/">
                    <img src="~/Content/images/logoned.png" />
                    <span class="logo-title">WebHRA</span>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Login", "HourRegistration")"><i class="fa fa-clock-o size-nav-icon"></i>Registreer uren</a></li>
                        <li><a href="@Url.Action("Index", "UserDefaults")"><i class="fa fa-user size-nav-icon"></i>Standaard instellingen</a></li>
                        <li><a href="@Url.Action("LogOut", "HourRegistration")"><i class="fa fa-sign-out size-nav-icon"></i>Uitloggen</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="erpplus-footer">
        <div class="container">
            <hr class="erpplus-footer-hr" />
            <p>&copy; @DateTime.Now.Year - WebHRA - Treshold Automatisering - Versie: @typeof(NedTrainHourRegistration.MvcApplication).Assembly.GetName().Version.ToString(3)</p>
        </div>
    </footer>
    @RenderSection("scripts", required: false)

    <script>
            var SearchMasterDataPartialViewvarHourType = "@Url.Action("SearchMasterDataPartialView", "SearchMasterData", new { hourType = "varHourType" })";
            var SearchMasterDataPartialView1 = "@Url.Action("SearchMasterDataPartialView", "SearchMasterData", new { hourType = 1 })";
            var SearchMasterDataPartialView4 = "@Url.Action("SearchMasterDataPartialView", "SearchMasterData", new { hourType = 4 })";
            var SelectProjectInfo = "@Url.Action("SelectProjectInfo", "SearchMasterData")";
            var GetActivitiesByProject = "@Url.Action("GetActivitiesByProject", "SearchMasterData")";
            var WeekDayChanged = "@Url.Action("WeekDayChanged", "HourRegistration")";
            var LayoutDateTime = "@ViewBag.DateTime";
            var Filter = "@Url.Action("FilterProjects", "SearchMasterData", new { SearchKey = "varSearchKey" })";
    </script>

    <script src="~/Scripts/moment-with-locales.js"></script>

    @Scripts.Render("~/bundles/master/custom/js")

</body>
</html>
