﻿@model SearchIndirectTaskModel

<form id="selectIndirectTask">
    <table class="table">
        <tr>
            <td>Zoek:</td>
            <td>
                @Html.EditorFor(model => model.SearchKey, new { style = "width:100px" })
                <button type="button" id="btnFilterTasks" class="btn">Filter</button>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>
                @if (Model.FilteredTasks != null && Model.FilteredTasks.Count > 0)
                {
                    @Html.DisplayNameFor(model => model.FilteredTasks[0].Task)
                }
            </th>
            <th>
                @if (Model.FilteredTasks != null && Model.FilteredTasks.Count > 0)
                {
                    @Html.DisplayNameFor(model => model.FilteredTasks[0].Description)
                }
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.FilteredTasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Task)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{int taskId = item.Task;
                        <button type="button" class="btn" onclick="TaskSelected(@taskId)">Select</button>
                    }
                </td>
            </tr>
        }
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnFilterTasks').on('click', function () {
            filter();
        })

    });

    function TaskSelected(taskId) {
        var $parentForm = $(this).closest('form').closest('form');
        var textbox = document.getElementById('IndirectTask');
        textbox.value = taskId;
        $('#masterData').empty();
        $('#IndirectTask').change();
    }

</script>
