﻿@model SearchProjectModel

<form id="selectProject">
    <table class="table">
        <tr>
            <td>Zoek:</td>
            <td>
                @Html.EditorFor(model => model.SearchKey, new { style = "width:100px" })
                <button type="button" id="btnFilterProject" class="btn">Filter</button>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>
                @if (Model.FilteredProjects != null && Model.FilteredProjects.Count > 0)
                {
                    @Html.DisplayNameFor(model => model.FilteredProjects[0].Code)
                }
            </th>
            <th>
                @if (Model.FilteredProjects != null && Model.FilteredProjects.Count > 0)
                {
                    @Html.DisplayNameFor(model => model.FilteredProjects[0].Description)
                }
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.FilteredProjects)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{string projectCode = item.Code;
                        <button type="button" class="btn" onclick="ProjectSelected(@projectCode)">Select</button>
                    }
                </td>
            </tr>
        }
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnFilterProject').on('click', function () {
            filter();
        })

    });

    function ProjectSelected(projectCode) {
        var $parentForm = $(this).closest('form').closest('form');
        var textbox = document.getElementById('ProjectCode');
        textbox.value = projectCode;
        $('#masterData').empty();
        $('#ProjectCode').change();
    }

</script>
