﻿@model SearchMasterDataModel

<form id="searchForm">
    <div class="row">
        <div class="modal-row-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div id="divHourType" class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 modal-col-1">
                    @Html.LabelFor(m => m.HourType)
                </div>
                <div class="col-sm-6 modal-col-1">
                    @Html.DropDownListFor(m => m.HourType, new SelectList(Model.HourTypes(), "Key", "Value", Model.HourType), new { htmlAttributes = new { @id = "searchHourType" } })
                </div>
            </div>
            @if (Model.HourType == 1)
            {
                <div id="divProject" class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 modal-col-1">
                        @Html.LabelFor(m => m.ProjectCode)
                    </div>
                    <div class="col-sm-4 modal-col-1">
                        @Html.EditorFor(m => m.ProjectCode)
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="btnListProjectData" class="btn">...</button>
                    </div>
                </div>
                <div id="divActivity" class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 modal-col-1">
                        @Html.LabelFor(m => m.ActivityCode)
                    </div>
                    <div class="col-sm-4 modal-col-1">
                        @if (Model.ActivitiesByProject != null)
                        {
                            @Html.DropDownListFor(m => m.ActivityCode, new SelectList(Model.ActivitiesByProject, "ActivityCode", "ListItem"))
                        }
                    </div>
                </div>
            }
            @if (Model.HourType == 4)
            {
            <div id="divTask" class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 modal-col-1">
                    @Html.LabelFor(m => m.IndirectTask)
                </div>
                <div class="col-sm-4 modal-col-1">
                    @Html.EditorFor(m => m.IndirectTask)
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btnListTaskData" class="btn">...</button>
                </div>
            </div>
            }
        </div>
        <div id="masterData" class="col-sm-7">
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#HourType').change(function () {
            var parms = '?HourType=' + $('#HourType').val();
            var link = '@Url.Action("SearchMasterDataPartialView", "SearchMasterData")' + parms;
            $('#divSearchData').load(link);
        });

        $('#btnListProjectData').on('click', function () {
            var link = '@Url.Action("ListProjectData", "SearchMasterData")';
            $('#masterData').load(link);
        });

        $('#btnListTaskData').on('click', function () {
            var link = '@Url.Action("ListTaskData", "SearchMasterData")';
            $('#masterData').load(link);
        });

        $('#ProjectCode').change(function () {
            var parms = '?HourType=' + $('#HourType').val();
            parms = parms + '&ProjectCode=' + $('#ProjectCode').val();
            parms = parms + '&IndirectTask=' + $('#IndirectTask').val();
            var link = '@Url.Action("SearchActivitiesByProjectPartialView", "SearchMasterData")' + parms;
            $('#divSearchData').load(link);
        });
    });
</script>
