﻿@model HoursPerWeekModel

@{
    ViewBag.Title = "Uren invoeren";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>
}

@if (ViewBag.globalMessage != "" && ViewBag.globalMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.globalMessage
    </div>
}
<input id="success" type="hidden" value="@TempData["serverresult"]" />
<div class="alert alert-danger" style="display:none" id="showIssue" role="alert">
    Let op - Uren konden niet worden opgeslagen : @TempData["servererror"]
</div>

<h2 class="title-uren-invoeren">Uren invoeren</h2>

<script>

    $(document).ready(function () {

        var startTimes = [];

        var aStartTime = @Html.Raw(Json.Encode(@ViewBag.weekDatesStart));
        var aStopTime = @Html.Raw(Json.Encode(@ViewBag.weekDatesStop));

        var newSelecetItem = $("#day option:selected").text();

        var { startTijd, stopTijd } = getStartStopTijd(newSelecetItem);

        $("#StopTijdDag").val(stopTijd);

        $(document).on("change", "#day", function () {

            var newSelecetItem = $("#day option:selected").text();

            var { startTijd, stopTijd } = getStartStopTijd(newSelecetItem);

            var laatsteEindTijd = startTijd;

            $("#hour-registration-table .tablerow").each(function (index) {

                if ($(this).find(".ed-daytime").text() == newSelecetItem) {

                    laatsteEindTijd = $(this).find(".ed-endtime").text();
                }

            });

            $("#startTime").val(laatsteEindTijd);
            $("#endTime").val(stopTijd);
        });

        $("#endTime").val(stopTijd);

        function getStartStopTijd(newSelecetItem) {

            switch (newSelecetItem) {

                case 'Zondag':

                    startTijd = aStartTime[0];
                    stopTijd = aStopTime[0];

                    break;

                case 'Maandag':

                    startTijd = aStartTime[1];
                    stopTijd = aStopTime[1];

                    break;

                case 'Dinsdag':

                    startTijd = aStartTime[2];
                    stopTijd = aStopTime[2];

                    break;

                case 'Woensdag':

                    startTijd = aStartTime[3];
                    stopTijd = aStopTime[3];

                    break;

                case 'Donderdag':

                    startTijd = aStartTime[4];
                    stopTijd = aStopTime[4];

                    break;

                case 'Vrijdag':

                    startTijd = aStartTime[5];
                    stopTijd = aStopTime[5];

                    break;

                case 'Zaterdag':

                    startTijd = aStartTime[6];
                    stopTijd = aStopTime[6];

                    break;
            }

            return { startTijd, stopTijd };
        }
    });
</script>

<input type="hidden" id="StopTijdDag" name="StopTijdDag" value="1234" />
<input type="hidden" id="aStopTime" name="aStopTime" value=@Html.Raw(Json.Encode(@ViewBag.weekDatesStop)) />

<div class="form-header">
    <div class="col-md-4">
        <div class="row viewrow">
            <div class="col-md-3">Medewerker:</div>
            <div class="col-md-9">@Model.EmployeeCode</div>
        </div>
        <div class="row viewrow">
            <div class="col-md-3" style="line-height:34px;">Jaar/week:</div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group datepicker-grp">
                            <div class="input-group-addon" id="prevWeek">
                                <i class="fa fa-chevron-left size-nav-icon"></i>
                            </div>
                            <input type='text' class="form-control weeklyDatePicker" id='weeklyDatePicker' name="currentWeek" />
                            <div class="input-group-addon" id="nextWeek">
                                <i class="fa fa-chevron-right size-nav-icon"></i>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
        <div class="row viewrow">
            <div class="col-md-3">Uren totaal:</div>
            <div class="col-md-9">
                @Model.DetermineTotalHours()
            </div>
            <div class="col-md-1">
                <!-- Modal -->
                <div id="divSearchMasterData" class="modal" role="dialog">
                    <div id="divTest1" class="modal-dialog modal-lg searchdialog">

                        <!-- Modal content-->
                        <div id="divTest2" class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Zoek uren-gegevens</h4>
                            </div>
                            <div id="divSearchData" class="modal-body searchbody">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" id="btnSelectData" onclick="SelectProjectInfo()" class="btn btn-default">Select</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 text-center" id="hourTab">
        <div class="row viewrow">
            <div class="col-md-6 text-right">Indirecte uren : </div>
            <div class="col-md-6 text-left">
                @ViewBag.MachineHours
            </div>
        </div>
        <div class="row viewrow">
            <div class="col-md-6 text-right">Directe uren : </div>
            <div class="col-md-6 text-left">
                @ViewBag.NormalHours
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row viewrow">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#copyWeek" class="btn btn-default pull-right">Week kopiëren</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>
</div>


@if (Convert.ToString(ViewBag.invoerMethode) == "Daginvoer")
{
    <input type="hidden" id="formaction" value="/uren-invoeren" />
    using (Html.BeginForm("InsertHours", "HourRegistration", FormMethod.Post))
    {
        <div id="hour-registration-table">
            <div class="row">
                <div class="col-md-1 th erpplus-uren">Dag</div>
                <div class="col-md-1 th erpplus-uren">Starttijd</div>
                <div class="col-md-1 th erpplus-uren">Eindtijd</div>
                <div class="col-md-1 th erpplus-uren">Duur</div>
                <div class="col-md-1 th erpplus-uren">Type</div>
                <div class="col-md-3 erpplus-cell">
                    <div class="col-md-8 th erpplus-uren">Project</div>
                    <div class="col-md-4 th erpplus-uren">Activiteit</div>
                </div>
                <div class="col-md-1 th erpplus-uren">Order</div>
                <div class="col-md-1 th erpplus-uren">Bewerking</div>
                <div class="col-md-2 th erpplus-uren">Taak</div>
            </div>

            @if (Model.LoggedHours != null)
            {
                foreach (var item in Model.LoggedHours)
                {
                    <div class="row tablerow">
                        <div class="col-md-1 hidden erpplus-uren ed-seqnr">@item.SequenceNr</div>
                        <div class="col-md-1 erpplus-uren ed-daytime">@item.StartTime.Date.DayOfWeek.GetDayOfWeek()</div>
                        <div class="col-md-1 erpplus-uren ed-starttime">@item.StartTime.ToString("HH:mm")</div>
                        <div class="col-md-1 erpplus-uren ed-endtime">@item.EndTime.ToString("HH:mm")</div>
                        <div class="col-md-1 erpplus-uren ed-duration">@item.Duration</div>

                        <div class="col-md-1 erpplus-uren ed-type">@item.HourType.GetTypeName()</div>
                        <div class="col-md-3 erpplus-cell">
                            @if (string.IsNullOrWhiteSpace(item.ProjectCode))
                            {
                                <div class="col-md-8 erpplus-uren">@Html.Label("", new { @class = "tablecell" })</div>
                                <div class="col-md-4 erpplus-uren">@Html.Label("", new { @class = "tablecell" })</div>
                            }
                            else
                            {
                                <div class="col-md-8 erpplus-uren ed-projectc">@Html.Label(item.ProjectCode, new { @class = "tablecell" }) <i data-toggle="tooltip" title="@Model.GetProjectDescription(item.ProjectCode)" class="fa fa-info-circle"></i></div>
                                <div class="col-md-4 erpplus-uren ed-activity">@Html.Label(item.Activity, new { @class = "tablecell" }) <i data-toggle="tooltip" title="@Model.GetProjectDescription(item.ProjectCode)" class="fa fa-info-circle"></i></div>
                            }
                        </div>
                        <div class="col-md-1 erpplus-uren ed-porder">@Html.Label(item.ProductionOrder.ToString(), new { @class = "tablecell", Title = item.OrderDescription })</div>
                        <div class="col-md-1 erpplus-uren ed-operation">@Html.Label(item.Operation.ToString(), new { @class = "tablecell", Title = item.OrderDescription })</div>
                        <div class="col-md-1 erpplus-uren ed-task">@Html.Label(item.Task.ToString(), new { @class = "tablecell" }) <i class="fa fa-info-circle" data-toggle="tooltip" title="@item.TaskDescription"></i></div>
                        <div class="col-md-1 erpplus-uren">
                            <div class="row">
                                @if (item.Status == 1 || item.Status == 3)
                                {
                                    <div class="col-md-4"><a data-toggle="tooltip" title="Verwijderen" onclick="return confirm('Weet je zeker dat je dit item wilt verwijderen?')" href="@Url.Action("DeleteHours", "HourRegistration", new { employeeId = @item.EmployeeId, currentWeek = @item.Week, startDate = @item.StartTime, seqNr = @item.SequenceNr })"><i class="fa fa-trash size-nav-icon"></i></a></div>
                                    <div class="col-md-4"><a data-toggle="tooltip" title="Kopiëren" href="javascript:void(0)"><i class="fa fa-copy size-nav-icon"></i></a></div>
                                    <div class="col-md-4"><a data-toggle="tooltip" title="Bewerken" href="javascript:void(0)"><i class="fa fa-edit size-nav-icon"></i></a></div>
                                }
                                else
                                {
                                    <div class="col-md-4"><a data-toggle="tooltip" title="Kopiëren" href="javascript:void(0)"><i class="fa fa-copy size-nav-icon"></i></a></div>
                                    <div class="col-md-8">@item.Status.GetStatusDescription()</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row tablerow editable" tabindex="0">
                <div class="col-md-1 container-fluid inputcell">
                    <input type="hidden" id="seqNr" name="seqNr" value="" />

                    <select class="form-control" id="day" name="day">
                        @foreach (KeyValuePair<string, string> dayOfWeek in ViewBag.Weekdays)
                        {
                            <option value="@dayOfWeek.Key" @(dayOfWeek.Key == ViewBag.CurrentDay.ToString() ? "selected=selected" : "")>@dayOfWeek.Value</option>
                        }
                    </select>
                </div>
                <input type="hidden" name="invoerMethode" id="invoerMethode" value="@ViewBag.methode" />
                <div class="col-md-1 erpplus-uren">
                    <a href="javascript:void(0)" id="use_start_end" onclick="setInvoerType()" class="btn btn-default">Gebruik start- en eindtijd</a>
                    @Html.TextBox("startTime", string.Format("{0:HH:mm}", Model.NewStartTime), new { type = "time", @class = "form-control", onblur = "OnBlurStartTimeInput(this)" })
                </div>
                <div class="col-md-1 erpplus-uren">@Html.TextBox("endTime", string.Format("{0:HH:mm}", Model.NewStopTime), new { type = "time", @class = "form-control", onblur = "OnBlurStopTimeInput(this)" })</div>
                <div class="col-md-1 erpplus-uren">
                    @Html.TextBox("duration", string.Format("{0:HH:mm}", Model.Duration), new { type = "time", hidden = "hidden", @class = "form-control", onblur = "ReformatHoursMinutes(this)" })
                    <a href="javascript:void(0)" id="use_duration" onclick="setInvoerType(false)" class="btn btn-default">Duur</a>
                </div>
                <div class="col-md-1 container-fluid inputcell erpplus-uren">
                    <select class="form-control selectpicker" name="hourType" data-extraclass="selectHourType" id="hourType">
                        @foreach (KeyValuePair<int, string> hourType in Model.HourTypes())
                        {
                            <option value="@hourType.Key">@hourType.Value</option>
                        }
                    </select>
                </div>
                <!-- Trigger the modal with a button -->
                <div class="col-md-3 container-fluid inputcell erpplus-cell">
                    <div class="col-md-7">
                        <select class="form-control selectpicker" name="project" data-extraclass="selectProjects" id="ddlProjects">
                            @foreach (KeyValuePair<string, string> erpProject in Model.ErpProjects())
                            {
                                <option value="@erpProject.Key">@erpProject.Value</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4 container-fluid inputcell erpplus-uren">
                        <select class="form-control selectpicker" name="activity" data-extraclass="selectActivities" id="ddlActivities">
                            @foreach (KeyValuePair<string, string> erpActivity in Model.ErpProjectActivities())
                            {
                                <option value="@erpActivity.Key">@erpActivity.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-1 erpplus-uren"><input type="text" id="txtProductionOrder" name="order" class="form-control" value="" /></div>
                <div class="col-md-1 erpplus-uren"><input type="text" id="txtOperation" name="operation" class="form-control" value="" /></div>
                <div class="col-md-2 container-fluid inputcell erpplus-cell">
                    <div class="col-md-8">
                        <select class="form-control selectpicker" name="task" data-extraclass="taskPicker" id="ddlTasks">
                            @foreach (KeyValuePair<int, string> erpTask in Model.ErpTasks())
                            {
                                <option value="@erpTask.Key">@erpTask.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="copied"><span>Gekopiëerd!</span></div>
                <div class="saveRowButton"><input type="submit" class="saveRowButton btn btn-default" onclick="sendHoursOnEnter()" value="Opslaan" /></div>
                <a class="removeRow" href="javascript:void(0)" tabindex="-1"><i class="fa fa-remove"></i> </a>
            </div>

            <div class="row faketablerow addRow">
                <div class="hover-overlay">
                    Regel toevoegen
                </div>
                <div class="col-md-1 container-fluid inputcell">
                    <input class="form-control" value="Maandag" />
                </div>
                <div class="col-md-1 erpplus-uren">
                    <input class="form-control" value="00:00" />
                </div>
                <div class="col-md-1 erpplus-uren">
                    <input class="form-control" value="00:00" />
                </div>
                <div class="col-md-1 erpplus-uren">
                    <input class="form-control" value="00:00" />
                </div>
                <div class="col-md-1 erpplus-uren">
                    <input class="form-control" value="-Kies ty..." />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 erpplus-uren"><br /></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div id="ErpErrors">
                            Foutmeldingen:
                            @Html.ValidationSummary()
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><br /></div>
            </div>
        </div>
    }
}
else
{
    <input type="hidden" id="formaction" value="/weken-invoeren" />
    using (Html.BeginForm("InsertWeeks", "HourRegistration", FormMethod.Post))
    {
        if (ViewBag.weekList != null)
        {
            <div id="hour-registration-table">
                <div class="row">
                    <div class="col-md-1 th erpplus-uren">Type</div>
                    <div class="col-md-3 erpplus-cell weektype1">
                        <div class="col-md-8 th erpplus-uren">Project</div>
                        <div class="col-md-4 th erpplus-uren">Activiteit</div>
                    </div>
                    <div class="col-md-2 th erpplus-cell weektype2">
                        <div class="col-md-6 erpplus-uren">Order</div>
                        <div class="col-md-6 erpplus-uren">Bewerking</div>
                    </div>
                    <div class="col-md-2 th erpplus-uren weektype4">Taak</div>
                    <div class="vertical-divider"></div>
                    <div class="col-md-4 erpplus-cell th pull-right weekdays">
                        <div class="col-md-1 erpplus-uren">ZO</div>
                        <div class="col-md-2 erpplus-uren">MA</div>
                        <div class="col-md-2 erpplus-uren">DI</div>
                        <div class="col-md-2 erpplus-uren">WO</div>
                        <div class="col-md-2 erpplus-uren">DO</div>
                        <div class="col-md-2 erpplus-uren">VR</div>
                        <div class="col-md-1 erpplus-uren">ZA</div>
                    </div>
                </div>

                @if (Model.LoggedHours != null)
                {
                    List<string> projects = new List<string>();
                    foreach (var item in Model.LoggedHours)
                    {
                        string stringKeyStart = item.Task + "_" + item.ProjectCode + "_" + item.Activity + "_" + item.ProductionOrder + "_" + item.Operation;

                        if (!projects.Contains(stringKeyStart))
                        {
                            projects.Add(stringKeyStart);
                        }
                        else
                        {
                            continue;
                        }

                        <div class="row tablerow">
                            <div class="col-md-1 hidden erpplus-uren ed-seqnr">@item.SequenceNr</div>
                            <div class="col-md-1 erpplus-uren ed-type">@item.HourType.GetTypeName()</div>
                            <div class="col-md-3 erpplus-cell weektype1">
                                @if (string.IsNullOrWhiteSpace(item.ProjectCode))
                                {
                                    <div class="col-md-8 erpplus-uren">@Html.Label("", new { @class = "tablecell" })</div>
                                    <div class="col-md-4 erpplus-uren">@Html.Label("", new { @class = "tablecell" })</div>
                                }
                                else
                                {
                                    <div class="col-md-8 erpplus-uren ed-projectc">@Html.Label(item.ProjectCode, new { @class = "tablecell" }) <i data-toggle="tooltip" title="@Model.GetProjectDescription(item.ProjectCode)" class="fa fa-info-circle"></i></div>
                                    <div class="col-md-4 erpplus-uren ed-activity">@Html.Label(item.Activity, new { @class = "tablecell" }) <i data-toggle="tooltip" title="@Model.GetProjectDescription(item.ProjectCode)" class="fa fa-info-circle"></i></div>
                                }
                            </div>
                            <div class="weektype2">
                                <div class="col-md-1 erpplus-uren ed-porder">
                                    @if (item.ProductionOrder != 0)
                                    {@Html.Label(item.ProductionOrder.ToString(), new { @class = "tablecell", Title = item.OrderDescription }) }
                                else
                                { <span>-</span>}
                                </div>
                                <div class="col-md-1 erpplus-uren ed-operation">
                                    @if (item.Operation != 0)
                                    {@Html.Label(item.Operation.ToString(), new { @class = "tablecell", Title = item.OrderDescription }) }
                                else
                                { <span>-</span>}
                                </div>
                            </div>
                            <div class="col-md-2 weektype4 erpplus-uren ed-task">@Html.Label(item.Task.ToString(), new { @class = "tablecell" }) <i class="fa fa-info-circle" data-toggle="tooltip" title="@item.TaskDescription"></i></div>
                            <div class="vertical-divider"></div>
                            <div class="col-md-4 pull-right weekdays">
                                <div class="col-md-1 erpplus-uren week_6_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Zondag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Zondag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-2 erpplus-uren week_0_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Maandag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Maandag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-2 erpplus-uren week_1_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Dinsdag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Dinsdag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-2 erpplus-uren week_2_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Woensdag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Woensdag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-2 erpplus-uren week_3_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Donderdag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Donderdag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-2 erpplus-uren week_4_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Vrijdag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Vrijdag"].ToString("HH:mm");
                                }
                                </div>
                                <div class="col-md-1 erpplus-uren week_5_">
                                    @if (ViewBag.weekList.ContainsKey(stringKeyStart + "_Zaterdag"))
                                    {@ViewBag.weekList[stringKeyStart + "_Zaterdag"].ToString("HH:mm");
                                }
                                </div>
                            </div>
                            <a data-toggle="tooltip" class="trash-after" title="Verwijderen" onclick="return confirm('Weet je zeker dat je dit item wilt verwijderen?')" href="@Url.Action("DeleteWeeks", "HourRegistration", new { employeeId = @item.EmployeeId, referenceNum = @stringKeyStart,currentWeek = @item.Week, startDate = @item.StartTime })"><i class="fa fa-trash size-nav-icon"></i></a>
                            <a data-toggle="tooltip" class="edit-after" title="Bijwerken" href="#"><i class="fa fa-edit size-nav-icon"></i></a>
                        </div>
                    }
                }

                <div class="row tablerow editable weken-editable" tabindex="0">
                    <input type="hidden" id="seqNr" name="seqNr" value="" />
                    <div class="col-md-1 container-fluid inputcell erpplus-uren">
                        <select class="form-control selectpicker" required name="hourType" data-extraclass="selectHourType" id="hourType">
                            @foreach (KeyValuePair<int, string> hourType in Model.HourTypes())
                            {
                                <option value="@hourType.Key">@hourType.Value</option>
                            }
                        </select>
                    </div>

                    <!-- Trigger the modal with a button -->
                    <div class="col-md-3 weektype1 container-fluid inputcell erpplus-cell">
                        <div class="col-md-7">
                            <select class="form-control selectpicker" name="project" data-extraclass="selectProjects" id="ddlProjects">
                                @foreach (KeyValuePair<string, string> erpProject in Model.ErpProjects())
                                {
                                    <option value="@erpProject.Key">@erpProject.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 container-fluid inputcell erpplus-uren">
                            <select class="form-control selectpicker" name="activity" data-extraclass="selectActivities" id="ddlActivities">
                                @foreach (KeyValuePair<string, string> erpActivity in Model.ErpProjectActivities())
                                {
                                    <option value="@erpActivity.Key">@erpActivity.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="weektype2">
                        <div class="col-md-1 erpplus-uren"><input type="text" id="txtProductionOrder" name="order" class="form-control" value="" /></div>
                        <div class="col-md-1 erpplus-uren"><input type="text" id="txtOperation" name="operation" class="form-control" value="" /></div>
                    </div>

                    <div class="col-md-2 weektype4 inputcell erpplus-cell">
                        <div class="col-md-8">
                            <select class="form-control selectpicker" name="task" id="ddlTasks" data-extraclass="taskPicker">
                                @foreach (KeyValuePair<int, string> erpTask in Model.ErpTasks())
                                {
                                    <option value="@erpTask.Key">@erpTask.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="vertical-divider"></div>
                    <div class="col-md-4 pull-right weekdays">
                        <div class="col-md-1 erpplus-uren">@Html.TextBox("week[6]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                        <div class="col-md-2 erpplus-uren">@Html.TextBox("week[0]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" }) </div>
                        <div class="col-md-2 erpplus-uren">@Html.TextBox("week[1]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                        <div class="col-md-2 erpplus-uren">@Html.TextBox("week[2]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                        <div class="col-md-2 erpplus-uren">@Html.TextBox("week[3]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                        <div class="col-md-2 erpplus-uren">@Html.TextBox("week[4]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                        <div class="col-md-1 erpplus-uren">@Html.TextBox("week[5]", string.Format("{0:HH:mm}", "00:00"), new { type = "time", @class = "form-control" })</div>
                    </div>
                    <div class="copied"><span>Gekopiëerd!</span></div>
                    <div class="saveRowButton"><input type="submit" class="btn btn-default buttonOpslaan" onclick="sendHoursOnEnter()" value="Opslaan" /></div>
                    <a class="removeRow weekinvoer" href="javascript:void(0)" tabindex="-1"><i class="fa fa-remove"></i> </a>
                </div>

                <div class="row faketablerow addRow">
                    <div class="hover-overlay">
                        Regel toevoegen
                    </div>
                    <div class="col-md-1 erpplus-uren">
                        <input class="form-control" value="-Kies ty..." />
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="col-md-1"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-2"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-2"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-2"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-2"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-2"><input class="form-control" value="00:00" /></div>
                        <div class="col-md-1"><input class="form-control" value="00:00" /></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 erpplus-uren"><br /></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div id="ErpErrors">
                                Foutmeldingen:
                                @Html.ValidationSummary()
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><br /></div>
                </div>
            </div>
        }
    }
}

@using (Html.BeginForm("CopyWeek", "HourRegistration", FormMethod.Post, new { id = "CopyWeekForm" }))
{
    <div class="modal fade" id="copyWeek" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="modalLabel">Week kopiëren</h4>
                </div>
                <div class="modal-body">
                    <p>Selecteer de week waar u de huidige week naar toe wilt kopiëren.</p>
                    <div class="input-group datepicker-grp">
                        <div class="input-group-addon" id="copyPrevWeek">
                            <i class="fa fa-chevron-left size-nav-icon"></i>
                        </div>
                        <input type='text' class="form-control weeklyDatePicker" id='weeklyDatePicker' name="weekDate" />
                        <div class="input-group-addon" id="copyNextWeek">
                            <i class="fa fa-chevron-right size-nav-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default buttonOpslaanWeekKopieren">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
}
