﻿@model LoginModel

@{
    ViewBag.Title = "Inloggen";
}

@if (ViewBag.globalMessage != "" && ViewBag.globalMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.globalMessage
    </div>
}


<div class="col-xs-12">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            @using (Html.BeginForm())
            {
                <h4>Inloggen</h4>

                @Html.ValidationSummary();

                <div class="row">
                    <div class="form-group col-md-8 col-xs-12">
                        @Html.LabelFor(x => x.LoginCode)
                        @Html.TextBoxFor(x => x.LoginCode, new { @class = "form-control", placeholder = "Login code", required = "required", @Value = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-xs-12">
                        @Html.LabelFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Wachtwoord", required = "required", @Value = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-xs-12">
                        @Html.LabelFor(x => x.CompNr)
                        @Html.TextBoxFor(x => x.CompNr, new { @class = "form-control", placeholder = "Bedrijfscode", required = "required", @readonly = "true", @Value = ViewBag.CompNr })
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Inloggen</button>

                <a href="@Url.Action("ResetPassword", "HourRegistration")">Reset wachtwoord</a>
            }

        </div>
    </div>
</div>