﻿@model ResetPasswordModel

@{
    ViewBag.Title = "Wachtwoord wijzigen";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>
}

    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                @using (Html.BeginForm())
                {
                    <h4><strong>Wachtwoord wijzigen</strong></h4>

                    @Html.ValidationSummary();

                    <div class="row">
                        <div class="form-group col-md-8 col-xs-12">
                            @Html.LabelFor(x => x.LoginCode)
                            @Html.TextBoxFor(x => x.LoginCode, new { @class = "form-control", placeholder = "Login code", required = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8 col-xs-12">
                            @Html.LabelFor(x => x.emailAddress)
                            @Html.PasswordFor(x => x.emailAddress, new { @class = "form-control", type = "email", placeholder = "E-mailadres", required = "required" })
                        </div>
                    </div>
                    <div class="row hide">
                        <div class="form-group col-md-8 col-xs-12">
                            @Html.LabelFor(x => x.CompanyNr)
                            @Html.TextBoxFor(x => x.CompanyNr, new { @class = "form-control", placeholder = "Bedrijfscode", required = "required", @readonly = "true", @Value = ViewBag.CompNr })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Wijziging aanvragen</button>}

            </div>
        </div>
    </div>
