﻿html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin: 0 0 120px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    height: 34px !important;
    border-radius: 0 !important;
}

.container {
    width: 80%;
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #eeeeee;
}

.navbar * {
    color: #000066 !important;
}

.navbar-brand {
    margin: 0 !important;
}

.navbar-brand-erpplus {
    margin: 0 !important;
    float: left;
    height: 150px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.validation-summary-errors {
    color: red;
}

body {
    padding-top: 158px;
}

#hour-registration-table tr th,
#hour-registration-table tr td {
    width: 75px !important;
    max-width: 175px !important;
    min-width: 25px !important;
}

    #hour-registration-table tr td #ErpErrors {
        width: 450px;
        color: red;
    }

    #hour-registration-table tr td li {
        width: 450px;
        color: red;
    }

    #hour-registration-table tr td * {
        width: 150px;
    }

.btn-primary {
    background-color: #fe2925 !important;
    border-color: #222222 !important;
}

#weeklyDatePicker {
    width: auto;
    text-align: center;
}

#ErpErrors {
    color: red;
}

.modal-row-1 {
    min-height: 25px;
}

.modal-col-1 {
    margin: 3px;
}

.th {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tablerow, .faketablerow {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 55px;
    transition: 0.3s ease
}

    .tablerow:not(.editable):hover {
        background-color: #eee;
    }

.viewrow {
    padding-top: 2px;
    padding-bottom: 2px;
}

.inputcell {
    padding-left: 2px;
    padding-right: 2px;
}

.tablecell {
    font-weight: normal;
}

.searchdialog {
    width: 75%;
}

@media (min-height: 800px) {
    .searchbody {
        overflow-y: scroll;
        height: 750px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (min-height: 900px) {
    .searchbody {
        overflow-y: scroll;
        height: 750px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (min-height: 1200px) {
    .searchbody {
        overflow-y: scroll;
        height: 1100px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.erpplus-footer-hr {
}

.erpplus-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

    .erpplus-footer p {
        padding: 20px 0;
    }

div.erpplus-cell {
    padding-left: 0px;
    padding-right: 0px;
}

div.erpplus-input {
    padding-left: 0px;
}

.fa.size-nav-icon {
    font-size: 17px;
    margin-right: 5px;
}

.user-defaults-dropdown {
    width: 200px;
    margin-bottom: 10px;
}

.user-defaults-label {
    display: block;
    width: 200px;
}

.datepicker-grp {
    max-width: 0px;
}

    .datepicker-grp .input-group-addon {
        transition: 0.3s ease;
    }

        .datepicker-grp .input-group-addon:hover {
            background-color: #d0d0d0;
        }

.row.tablerow.saving {
    pointer-events: none;
    opacity: 0.5;
    background-color: #eeeeee;
}

.lds-ellipsis {
    position: absolute;
    width: 60px;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%) scale(0.5);
}

    .lds-ellipsis div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #101010;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


.fa-copy, .fa-trash, .fa-edit {
    color: #222;
    font: normal normal normal 14px/1 FontAwesome;
    cursor: pointer;
}

.mt-2 {
    margin-top: 10px;
}

.row.tablerow.editable .copied {
    text-align: center;
    padding: 17px 0;
    color: #333;
    position: absolute;
    width: 20%;
    background-color: #eee;
    top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    right: 0;
    animation: alert-success 0.5s 1;
    -webkit-animation: alert-success 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
    display: none;
    pointer-events: none;
    z-index: 9999;
}

@-webkit-keyframes alert-success {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.form-control-select2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select2 {
    max-width: 100%;
}

.select2-container--default .select2-selection--single {
    background-color: none;
    border: none;
    border-radius: 0;
}


input[type="time"].form-control {
    padding: 6px 4px;
}


.select2-container--open .select2-dropdown--below {
    width: max-content !important;
}


.weekdays .col-md-2,
.weekdays .col-md-1 {
    width: 14% !important;
    text-align: center;
}

.vertical-divider {
    display: table;
    border-right: 1px solid;
    text-align: center;
    padding-bottom: 35px;
    margin-bottom: -41px;
    border-right: 1px solid rgb(230 230 230);
}

.erpplus-cell.weekdays .erpplus-uren {
    text-align: center;
}

.treshold {
    max-height: 20px;
    margin: -3px 4px 0 4px;
}

.btn.btn-default {
    background-color: #eee;
    border: 1px solid #ccc;
    transition: 0.2s ease;
}

    .btn.btn-default:hover,
    .btn.btn-default:active,
    .btn.btn-default:focus {
        background-color: white;
        border: 1px solid #eee;
    }


.tooltip-inner {
    background-color: #000066;
    width: max-content;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #000066; 
} 

.fa.fa-info-circle {   
    color: #ccc;
}

.select2-dropdown {
    width: max-content !important;
}   

.faketablerow {
    position: relative;
    height: 50px;
    background: #fafafa;
    cursor: pointer;
} 

    .faketablerow input {
        opacity: 0.4; 
        pointer-events: none;
    }

    .faketablerow .addRow {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);  
        box-shadow: 0px 0px 7px 0px #ccc;
    }

.hover-overlay {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    padding: 14px 0;
    z-index: 2;
    font-weight: 700;
}

.faketablerow:hover > .hover-overlay {
    pointer-events: none;
    opacity: 1;
}

.saveRowButton {
    position: absolute;
    right: 0;
} 

.editable:focus,
.editable:focus-within {
    outline: 0;
    border-radius: 0;
    background: rgb(247,247,247);
    background: linear-gradient(90deg, rgba(247,247,247,1) 32%, rgba(0,0,0,0) 100%);
}

.invalid {
    border-color: #ff8e8e;
    box-shadow: 0 0 5px 0 #ff9393;
    background: #ffe0e0;
}

.removeRow {
    position: absolute;
    right: -30px;
    font-size: 25px;
    -webkit-text-stroke: white 2px;
    color: #d02424;
    transition: 0.1s ease;
    top: 8px;
}

.weekinvoer {
    right: -115px;
}

.removeRow:hover,
.removeRow:focus,
.removeRow:active {
    color: grey;
}

.testform {
    width: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
}

    .testform label {
        grid-column: 1;
        padding: 10px 0;
    }

    .testform input {
        padding: 10px 0;
        grid-column: 2;
        border: 0 !important;
        border-bottom: 2px solid grey !important;
    }

.navbar-brand-erpplus,
.navbar-brand-erpplus:hover {
    pointer-events: none;
    font-size: 62px;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
    cursor: alias;
}


body div.navbar-inverse {
    background-image: none;
    background-color: #FDD525;
    border-color: #000066;
    border-width: 0 0 1px;
}

.trash-after {
    position: absolute;
    top: 50%;
    right: -30px;
   transform: translateY(-50%);
}


.edit-after {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
}


.weken-editable .saveRowButton {
    margin: 6px 0;
    right: -90px;
}

.alert-danger {
    position: fixed;
    width: 1500px;
}

.title-uren-invoeren {
    margin-top: 65px;
}