﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Mail Server script</h2>

<form class="testform" action="/testMail/sendMail" method="post">
    <label>Server:</label>  <input type="text" name="server" value="server" />
    <label>Poort: </label> <input type="text" name="poort" value="587" />
    <label>SSL</label>  <input type="text" name="ssl" value="true" />
    <label>Use credentials: </label> <input type="text" name="useCredentials" value="true" />
    <label>User:</label>  <input type="text" name="user" value="user" />
    <label>Password: </label> <input type="text" name="password" value="password" />
    <label>Mail to:</label>  <input type="text" name="mailTo" value="mailTo" />
    <label>Mail from:</label>  <input type="text" name="mailFrom" value="mailFrom" />
    <input type="submit" />
</form>