﻿@using NedTrainHourRegistration.Models

@model UserDefaults


@{
    ViewBag.Title = "Wijzig standaard instellingen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>
}


<!--<div class="alert alert-success" role="alert">

    <h4 class="alert-heading">Model</h4>
    <p class="mb-0">@ObjectInfo.Print(Model)</p>
    <hr>

    <h4 class="alert-heading">UserDefaultsFromBaan</h4>
    <p class="mb-0">@ViewBag.UserDefaultsFromBaan</p>
    <hr>

    <h4 class="alert-heading">jsonSend2Baan</h4>
    <p class="mb-0">@ViewBag.jsonSend2Baan</p>
    <hr>

    <h4 class="alert-heading">jsonSend2BaanResult</h4>
    <p class="mb-0">@ViewBag.jsonSend2BaanResult</p>

</div>
-->

<div class="row viewrow mt-2">

    <h2 class="mt-2">Wijzig standaard instellingen</h2>
    <hr>
    @using (Html.BeginForm("saveDetails", "UserDefaults", FormMethod.Post))
    {
        @Html.Label("method", "Methode:", new { @class = "form-controll" })
        @Html.DropDownListFor(
            model => model.method,
            Enum.GetNames(typeof(methods))
            .Select(e => new SelectListItem { Text = e }),
            new { @class = "form-control" })

        <br />
        @Html.Label("inputMethod", "Invoermethode:", new { @class = "form-controll" })
        @Html.DropDownListFor(
            model => model.inputMethod,
            Enum.GetNames(typeof(inputMethods))
            .Select(e => new SelectListItem { Text = e }),
            new { @class = "form-control" })

        <br />
        @Html.Label("zoomMethod", "Zoommethode::", new { @class = "form-controll hide" })
        @Html.DropDownListFor(
            model => model.zoomMethod,
            Enum.GetNames(typeof(zoomMethods))
            .Select(e => new SelectListItem { Text = e }),
            new { @class = "form-control hide" })

        <br />
        <input type="submit" class="btn btn-default" value="Opslaan" />
    }

    <br />
</div>
